.input-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;

}
input{
    padding-left: 20px;
    margin-top: 10px;
    background-color: var(--input_bg_dark);
    border-radius: 8px;
    width: 80%;
    height: 20%;
}
.post-body-input{
    height: 80%;
}
.main-section{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px
}

.darkMode{
    background-color: var(--div_bg_dark);
}
.lightMode{
    background-color: var(--div_bg_light);
}
.image-container{
    background-color: #eee;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #4EC5D5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--btn_bg_dark);
    color: var(--btn_txt_dark);
    cursor: pointer;
}