:root { /* light mode */
  --primary-color: #eee; /* background color*/
  --secondary-color: #000000; /* text color*/
  --tertiary-color: #201F55; /* btn bg color */
  --quaternary-color: #fff; /* btn text */
  --quinary-color: #4496B9; /* div colors */
  --senary-color: #201F55; /* div text colors */
  --septenary-color: #DEE2E6; /* input colors */
  --octonary-color: #000; /* input text colors */
}

[data-theme="dark"] { /* dark mode */
  --primary-color: #444951; /* background color*/
  --secondary-color: #ffffff; /* text color*/
  --tertiary-color: #25779A; /* btn color */
  --quaternary-color: #fff; /* btn text */
  --quinary-color: #444951; /* div colors */
  --senary-color: #fff; /* div text colors */
  --septenary-color: #8B8B8D; /* input colors */
  --octonary-color: #fff; /* input text colors */
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: all 2s;
}

.dark-mode-toggle {
  cursor: pointer;
}